@model IEnumerable<ContosoCrm.Common.Models.Contact>

<partial name="_ContactListView" />

<div>
    <p>&nbsp;<br /><strong>Cosmos DB Information:</strong><br />RUs: @ViewBag.TotalRUs<br />Read Region: @ViewBag.ReadEndpoint<br />Write Region: @ViewBag.WriteEndpoint</p>
</div>